<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>verbs</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>ta</key>
			<integer>1</integer>
			<key>in</key>
			<string>être</string>
			<key>s1</key>
			<string>Je pense, donc je suis.</string>
			<key>s2</key>
			<string>Les érables sont magnifiques.</string>
			<key>s3</key>
			<string>Ils seront à Paris en mai.</string>
			<key>gr</key>
			<integer>3</integer>
			<key>co</key>
			<integer>1</integer>
			<key>de</key>
			<string>Exister, avoir une réalité. Le verbe être établit la relation entre le sujet et l’attribut. Se situer. Se trouver. Appartenir. S’occuper à. Tendre vers. Faire partie de. Venir de, être originaire de. Donner son soutien à. AUXILIAIRE DE CONJUGAISON. AUXILIAIRE DE TEMPS.</string>
			<key>no</key>
			<string>I</string>
			<key>tren</key>
			<string>be</string>
			<key>tres</key>
			<string>estar</string>
			<key>trpt</key>
			<string>ser</string>
		</dict>
        <dict>
            <key>id</key>
            <integer>1</integer>
            <key>ta</key>
            <integer>2</integer>
            <key>in</key>
            <string>avoir</string>
            <key>s1</key>
            <string>Laurence a une bicyclette.</string>
            <key>s2</key>
            <string>Nous avons eu ce voilier à bon compte.</string>
            <key>s3</key>
            <string>Catherine a le premier prix! Martin espère avoir une bourse afin de poursuivre ses études.</string>
            <key>gr</key>
            <integer>3</integer>
            <key>co</key>
            <integer>1</integer>
            <key>de</key>
            <string>Posséder. Acquérir, se procurer. Obtenir. Éprouver. Être de telle manière, présenter une caractéristique. Comporter. Tromper, rouler quelqu’un. AUXILIAIRE DE CONJUGAISON.</string>
            <key>no</key>
            <string>T</string>
            <key>tren</key>
            <string>have</string>
            <key>tres</key>
            <string>tener</string>
            <key>trpt</key>
            <string>ter</string>
        </dict>
	</array>
</dict>
</plist>
